<div class="govuk-warning-text {{warningText.classes}}"
     {{#warningText.attributes }} {{attribute}}="{{value}}"{{/warningText.attributes}}
>
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">{{warningText.iconFallbackText}}</span>
        {{{warningText.html}}}
        {{warningText.text}}
    </strong>
</div>
