
<dl class="govuk-summary-list {{ summaryList.classes }}"{{# summaryList.attributes }} {{attribute}}="{{value}}"{{/summaryList.attributes}}>
    {{#summaryList.rows }}
        <div class="govuk-summary-list__row {{#summaryList.anyRowHasActions}}
                                                {{^row.hasActions}}govuk-summary-list__row--no-actions{{/row.hasActions}}
                                            {{/summaryList.anyRowHasActions}}
                                            {{ row.classes }}">
            <dt class="govuk-summary-list__key {{ row.key.classes }}">
                {{{ row.key.html }}}
                {{ row.key.text }}
            </dt>
            <dd class="govuk-summary-list__value {{ row.value.classes }}">
                {{{ row.value.html }}}
                {{row.value.text }}
            </dd>
            {{# row.hasActions }}
                <dd class="govuk-summary-list__actions {{ row.actions.classes }}">
                    {{#row.actions.items.isSingle }}
                        {{#row.actions.items}}
                            {{{.}}}
                        {{/row.actions.items}}
                    {{/row.actions.items.isSingle }}
                    {{^row.actions.items.isSingle }}
                        <ul class="govuk-summary-list__actions-list">
                            {{#row.actions.items }}
                                <li class="govuk-summary-list__actions-list-item">
                                    {{{.}}}
                                </li>
                            {{/row.actions.items }}
                        </ul>
                    {{/row.actions.items.isSingle}}
                </dd>
            {{/row.hasActions}}

      </div>
  {{/summaryList.rows}}
</dl>
