{{#summaryList.card}}
    <div class="govuk-summary-card {{summaryList.card.classes }}"{{# summaryList.card.attributes }} {{attribute}}="{{value}}"{{/summaryList.card.attributes}}>
        <div class="govuk-summary-card__title-wrapper">
            {{#summaryList.card.title}}
                <h{{# summaryList.card.title.headingLevel }}{{.}}{{/ summaryList.card.title.headingLevel }}{{^ summaryList.card.title.headingLevel }}2{{/ summaryList.card.title.headingLevel }} class="govuk-summary-card__title {{ summaryList.card.title.classes }}">
                    {{#summaryList.card.title.html}}{{{.}}}{{/summaryList.card.title.html}}
                    {{^summaryList.card.title.html}} {{summaryList.card.title.text}} {{/summaryList.card.title.html}}
                </h{{# summaryList.card.title.headingLevel }}{{.}}{{/ summaryList.card.title.headingLevel }}{{^ summaryList.card.title.headingLevel }}2{{/ summaryList.card.title.headingLevel }}>
            {{/summaryList.card.title}}

            {{# summaryList.card.actions.items.nonEmpty }}
                {{# summaryList.card.actions.items.isSingle }}
                    <div class="govuk-summary-card__actions {{summaryList.card.actions.classes}}">
                        {{#summaryList.card.actions.items}}{{{.}}}{{/summaryList.card.actions.items}}
                    </div>
                {{/ summaryList.card.actions.items.isSingle }}
                {{^ summaryList.card.actions.items.isSingle }}
                    <ul class="govuk-summary-card__actions {{ summaryList.card.actions.classes }}">
                        {{#summaryList.card.actions.items}}
                            <li class="govuk-summary-card__action">
                                {{{.}}}
                            </li>
                        {{/summaryList.card.actions.items}}
                    </ul>
                {{/ summaryList.card.actions.items.isSingle }}
            {{/summaryList.card.actions.items.nonEmpty}}
        </div>

        <div class="govuk-summary-card__content">
            {{> summaryList}}
        </div>
    </div>
{{/summaryList.card}}
{{^summaryList.card}}
    {{> summaryList }}
{{/summaryList.card}}