<div class="govuk-phase-banner
  {{ phaseBanner.classes }}" {{#phaseBanner.attributes }} {{ attribute }}="{{ value }}" {{/phaseBanner.attributes}}>
    <p class="govuk-phase-banner__content">
        {{! Had to inline the govukTag here instead of calling its macro }}
        <strong class="govuk-tag govuk-phase-banner__content__tag {{ govukTag.classes }}" {{# govukTag.attributes }} {{ attribute }}="{{ value }}"{{/govukTag.attributes}} >
            {{{ govukTag.html }}}
            {{ govukTag.text }}
        </strong>
        {{! end of inline tag }}
        <span class="govuk-phase-banner__text">
            {{{ phaseBanner.html }}}
            {{ phaseBanner.text }}
        </span>
    </p>
</div>