<ol class="app-task-list {{taskList.classes}}" {{# taskList.attributes }} {{attribute}}="{{value}}"{{/taskList.attributes}}>
    {{#taskList.sections}}
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">{{number}}. </span>
                {{{heading}}}
            </h2>
            <ul class="app-task-list__items">
                {{#items}}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {{{name}}}
                        </span>
                        {{{tag}}}
                    </li>
                {{/items}}
            </ul>
        </li>
    {{/taskList.sections}}
</ol>
