
// let buttons also pretend to be back links

button.govuk-back-link {
  border: none;
  background: none;
  text-decoration: underline;
  color: govuk-colour("black");

  &:hover {
    cursor: pointer;
  }
}