<div class="govuk-form-group {{#fileUpload.errorMessage }} govuk-form-group--error {{/fileUpload.errorMessage}} {{ fileUpload.formGroup.classes }}"
    {{#fileUpload.formGroup.attributes}} {{attribute}}="{{value}}" {{/fileUpload.formGroup.attributes}} {{! Not in the original template but needed so we can set the id to drive runtime widget visibility. TODO: Raise a pull request to add this to GOV.UK's nunjucks}}
>
    {{{ fileUpload.govukLabel }}}

    {{{ fileUpload.hint }}}

    {{{ fileUpload.errorMessage }}}

  <input class="govuk-file-upload  {{ fileUpload.classes }}  {{# fileUpload.errorMessage }} govuk-file-upload--error {{/fileUpload.errorMessage}}" id="{{ fileUpload.id }}" name="{{ fileUpload.name }}" type="file"
  {{#fileUpload.value }} value="{{ fileUpload.value }}" {{/fileUpload.value}}
  {{#fileUpload.describedBy }} aria-describedby="{{ fileUpload.describedBy }}" {{/fileUpload.describedBy}}
  {{#fileUpload.attributes}} {{attribute}}="{{value}}" {{/fileUpload.attributes}}>
</div>
