<div class="govuk-form-group {{#input.errorMessage }} govuk-form-group--error {{/input.errorMessage}} {{ input.formGroup.classes }}"
    {{#input.formGroup.attributes}} {{attribute}}="{{value}}" {{/input.formGroup.attributes}} {{! Not in the original template but needed so we can set the id to drive runtime widget visibility. TODO: Raise a pull request to add this to GOV.UK's nunjucks}}
>
    {{{ input.govukLabel }}}

    {{{ input.hint }}}

    {{{ input.errorMessage }}}

    {{#input.hasPrefixOrSuffix}}
        <div class="govuk-input__wrapper">
    {{/input.hasPrefixOrSuffix}}

    {{#input.hasPrefix}}
        <div class="govuk-input__prefix {{input.prefix.classes}}" aria-hidden="true" {{# input.prefix.attributes }} {{attribute}}="{{value}}"{{/input.prefix.attributes}}>
            {{{ input.prefix.html }}}
            {{ input.prefix.text }}
        </div>
    {{/input.hasPrefix}}

    <input class="govuk-input {{ input.classes }} {{#input.errorMessage }} govuk-input--error {{/input.errorMessage}}" id="{{ input.id }}" name="{{ input.name }}" type="{{input.type}}{{^input.type}}text{{/input.type}}"
           {{#input.spellcheck}} spellcheck="{{.}}" {{/input.spellcheck}}
           {{#input.value}} value="{{ .}}"{{/input.value}}
           {{#input.describedBy}} aria-describedby="{{ . }}"{{/input.describedBy}}
           {{#input.autocomplete }} autocomplete="{{ .}}"{{/input.autocomplete}}
           {{#input.pattern }} pattern="{{ . }}"{{/input.pattern}}
           {{#input.inputmode }} inputmode="{{ . }}" {{/input.inputmode}}
           {{#input.attributes }} {{ attribute }}="{{ value }}" {{/input.attributes}} >

    {{#input.hasSuffix}}
        <div class="govuk-input__suffix {{input.suffix.classes}}" aria-hidden="true" {{#input.suffix.attributes }} {{attribute}}="{{value}}"{{/input.suffix.attributes}}>
            {{{input.suffix.html }}}
            {{input.suffix.text }}
        </div>
    {{/input.hasSuffix}}

    {{#input.hasPrefixOrSuffix}}
        </div>
    {{/input.hasPrefixOrSuffix}}
</div>
