<div id="{{tabs.id}}" class="govuk-tabs {{ tabs.classes }}"{{# tabs.attributes }} {{attribute}}="{{value}}"{{/tabs.attributes}} data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        {{#tabs.title}}{{.}}{{/tabs.title}}{{^tabs.title}}Contents{{/tabs.title}}
    </h2>
    {{#tabs.items.nonEmpty}}
        <ul class="govuk-tabs__list">
            {{#tabs.items}}
                <li class="govuk-tabs__list-item {{#selected}}govuk-tabs__list-item--selected{{/selected}}">
                    <a class="govuk-tabs__tab" href="#{{link}}"
                        {{# item.attributes }} {{attribute}}="{{value}}"{{/item.attributes}}>
                        {{label}}
                    </a>
                </li>
            {{/tabs.items}}
        </ul>
        {{! Not part of the original template but UX Forms needs this to persist tab state }}
        {{#tabs.persistState}}
            <input type="hidden" name="{{tabs.name}}" value="{{tabs.value}}">
        {{/tabs.persistState}}
    {{/tabs.items.nonEmpty}}
    {{#tabs.items}}
        <div class="govuk-tabs__panel {{^selected}}govuk-tabs__panel--hidden{{/selected}}" id="{{id}}" {{# item.panel.attributes }} {{attribute}}="{{value}}"{{/item.panel.attributes}}>
            {{{html}}}
        </div>
    {{/tabs.items}}
</div>
