<div class="govuk-panel govuk-panel--confirmation
  {{ panel.classes }}"
    {{#panel.attributes }} {{attribute}}="{{value}}"{{/panel.attributes}}>
    <h{{^panel.headingLevel}}1{{/panel.headingLevel}}{{ panel.headingLevel }} class="govuk-panel__title">
        {{{ panel.titleHtml }}}
        {{ panel.titleText }}
    </h{{^panel.headingLevel}}1{{/panel.headingLevel}}{{ panel.headingLevel }}>
    {{#panel.hasBody}}
        <div class="govuk-panel__body">
            {{{ panel.html }}}
            {{ panel.text }}
        </div>
    {{/panel.hasBody}}
</div>
