<div class="govuk-checkboxes {{ checkboxes.classes }}"
     {{#checkboxes.attributes }} {{ attribute }}="{{ value }}" {{/checkboxes.attributes}}
     data-module="govuk-checkboxes">

{{#checkboxes.items}}

    {{#item.divider}}
        <div class="govuk-checkboxes__divider">{{{ item.divider }}}</div>
    {{/item.divider}}
    {{^item.divider}}
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="{{ id }}" name="{{ name }}" type="checkbox" value="{{ value }}"
                {{#checked}} checked {{/checked}}
                {{#disabled}} disabled {{/disabled}}
                {{#conditional.html}} data-aria-controls="{{ conditionalId }}" {{/conditional.html}}
                {{#behaviour}} data-behaviour="{{behaviour}}" {{/behaviour}}
                {{#hasHint }} aria-describedby="{{id}}-item-hint" {{/hasHint}} {{! Not the same logical test as GOV.UK's original template, but it's easier to work with and matches the radios template }}
                {{#attributes }} {{ attribute }}="{{ value }}" {{/attributes}}>

            {{#hasLabel}}
                <label class="govuk-label govuk-checkboxes__label {{ label.classes }}"
                    {{#label.attributes }} {{attribute}}="{{value}}"{{/label.attributes}}
                    for="{{ id }}">
                    {{{ label.html }}}
                    {{ label.text }}
                </label>
            {{/hasLabel}}

            {{#hasHint }}
                <div id="{{id}}-item-hint" class="govuk-hint govuk-checkboxes__hint {{hint.classes }}"
                    {{#hint.attributes }} {{attribute}}="{{value}}" {{/hint.attributes}}>
                    {{{ hint.html }}}
                    {{ hint.text }}
                </div>
            {{/hasHint}}
        </div>
        {{{conditional.html}}}

    {{/item.divider}}

{{/checkboxes.items}}

</div>
