<div class="govuk-form-group {{#checkboxes.errorMessage }} govuk-form-group--error {{/checkboxes.errorMessage}} {{ checkboxes.formGroup.classes }}"
    {{#checkboxes.formGroup.attributes }} {{ attribute }}="{{ value }}" {{/checkboxes.formGroup.attributes}} {{! Not present in the original GOV.UK template but we need to set ids ourselves }}
>

    {{#checkboxes.fieldset}}
        <fieldset class="govuk-fieldset {{ checkboxes.fieldset.classes }}"
            {{# checkboxes.fieldset.role }} role="{{ checkboxes.fieldset.role }}" {{/checkboxes.fieldset.role }}
            {{# checkboxes.fieldset.describedBy }} aria-describedby="{{ checkboxes.fieldset.describedBy }}" {{/checkboxes.fieldset.describedBy}}
            {{#checkboxes.fieldset.attributes }} {{ attribute }}="{{ value }}" {{/checkboxes.fieldset.attributes}}>
            {{# checkboxes.fieldset.hasLegend }}
                <legend class="govuk-fieldset__legend {{ checkboxes.legend.classes }}">
                    {{# checkboxes.legend.isPageHeading }}
                        <h1 class="govuk-fieldset__heading">
                            {{{ checkboxes.legend.html }}}
                            {{ checkboxes.legend.text }}
                        </h1>
                    {{/checkboxes.legend.isPageHeading}}
                    {{^checkboxes.legend.isPageHeading}}
                        {{{ checkboxes.legend.html }}}
                        {{ checkboxes.legend.text }}
                    {{/checkboxes.legend.isPageHeading}}
                </legend>
            {{/checkboxes.fieldset.hasLegend}}
    
            {{{ checkboxes.hint }}}
            {{{ checkboxes.errorMessage }}}
    
            {{> items }}
        </fieldset>
    {{/checkboxes.fieldset}}

    {{^checkboxes.fieldset}}
        {{{ checkboxes.hint }}}
        {{{ checkboxes.errorMessage }}}

        {{> items }}
    {{/checkboxes.fieldset}}
</div>
