{{! Not part of GOV.UK's suite of Nunjucks templates }}

{{#sectionbreak.xl}}
    <hr {{#sectionbreak.attributes}} {{attribute}}="{{value}}"{{/sectionbreak.attributes}} class="govuk-section-break govuk-section-break--xl {{sectionbreak.classes}}">
{{/sectionbreak.xl}}
{{#sectionbreak.l}}
    <hr {{#sectionbreak.attributes}} {{attribute}}="{{value}}"{{/sectionbreak.attributes}} class="govuk-section-break govuk-section-break--l {{sectionbreak.classes}}">
{{/sectionbreak.l}}
{{#sectionbreak.m}}
    <hr {{#sectionbreak.attributes}} {{attribute}}="{{value}}"{{/sectionbreak.attributes}} class="govuk-section-break govuk-section-break--m {{sectionbreak.classes}}">
{{/sectionbreak.m}}
{{#sectionbreak.s}}
    <hr {{#sectionbreak.attributes}} {{attribute}}="{{value}}"{{/sectionbreak.attributes}} class="govuk-section-break {{sectionbreak.classes}}">
{{/sectionbreak.s}}
