<div class="govuk-radios {{ radios.classes }} {{# radios.isConditional }} govuk-radios--conditional {{/radios.isConditional}}"
    {{#radios.attributes}} {{ attribute }}="{{ value }}" {{/radios.attributes}}
    data-module="govuk-radios">
{{#radios.items}}

    {{# item.divider }}
        <div class="govuk-radios__divider">{{{ item.divider }}}</div>
    {{/item.divider}}
    {{^item.divider }}
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="{{ id }}" name="{{ name }}" type="radio" value="{{ value }}"
                {{# checked}} checked {{/checked}}
                {{# disabled}} disabled {{/disabled}}
                    {{# conditional.html }} data-aria-controls="{{ conditionalId }}" {{/conditional.html}}
                    {{# hasHint }} aria-describedby="{{id}}-item-hint" {{/hasHint}}
                    {{#attributes }} {{ attribute }}="{{ value }}"{{/attributes}}>

            <label class="govuk-label govuk-radios__label {{ label.classes }}"
                {{#label.attributes }} {{attribute}}="{{value}}"{{/label.attributes}}
                for="{{ id }}">
                {{{ label.html }}}
                {{ label.text }}
            </label>

            {{# hasHint }}

                <div id="{{id}}-item-hint" class="govuk-hint govuk-radios__hint {{hint.classes }}"
                    {{#hint.attributes }} {{attribute}}="{{value}}" {{/hint.attributes}}>
                    {{{ hint.html }}}
                    {{ hint.text }}
                </div>
            {{/hasHint}}
        </div>
        {{{ conditional.html }}}
    {{/item.divider}}

{{/radios.items}}

</div>