
<div class="govuk-form-group {{# radios.errorMessage }} govuk-form-group--error {{/radios.errorMessage}} {{ radios.formGroup.classes }}"
    {{#radios.formGroup.attributes }} {{ attribute }}="{{ value }}" {{/radios.formGroup.attributes}} {{! Not present in the original GOV.UK template but we need to set ids ourselves }}
>
    {{#radios.fieldset}}
        <fieldset class="govuk-fieldset {{ radios.fieldset.classes }}"
                {{# radios.fieldset.role }} role="{{ radios.fieldset.role }}" {{/radios.fieldset.role }}
                {{# radios.fieldset.describedBy }} aria-describedby="{{ radios.fieldset.describedBy }}" {{/radios.fieldset.describedBy}}
                {{#radios.fieldset.attributes }} {{ attribute }}="{{ value }}" {{/radios.fieldset.attributes}}>
            {{# radios.fieldset.hasLegend }}
                <legend class="govuk-fieldset__legend {{ radios.legend.classes }}">
                    {{# radios.legend.isPageHeading }}
                        <h1 class="govuk-fieldset__heading">
                            {{{ radios.legend.html }}}
                            {{ radios.legend.text }}
                        </h1>
                    {{/radios.legend.isPageHeading}}
                    {{^radios.legend.isPageHeading}}
                        {{{ radios.legend.html }}}
                        {{ radios.legend.text }}
                    {{/radios.legend.isPageHeading}}
                </legend>
            {{/radios.fieldset.hasLegend}}

            {{{ radios.hint }}}
            {{{ radios.errorMessage }}}

            {{> items }}
        </fieldset>
    {{/radios.fieldset}}

    {{^radios.fieldset}}
        {{{ radios.hint }}}
        {{{ radios.errorMessage }}}

        {{> items }}
    {{/radios.fieldset}}
</div>
