{{! Not part of GOV.UK's suite of Nunjucks templates }}

<{{#list.isOrdered}}ol{{/list.isOrdered}}{{^list.isOrdered}}ul{{/list.isOrdered}}
        class="govuk-list {{list.classes}}"
    {{#list.attributes }} {{attribute}}="{{value}}"{{/list.attributes}}
        >

{{#list.items}}
    <li>
        {{{.}}}
    </li>
{{/list.items}}

</{{#list.isOrdered}}ol{{/list.isOrdered}}{{^list.isOrdered}}ul{{/list.isOrdered}}>