{{! Need additional logic to support back links as buttons, so UX Forms can preseve un-saved form state even when moving back within the form}}

{{#backLink.isButton}}
    <button name="previousButtonName"
            class="govuk-back-link {{ backLink.classes }}"
        {{#backLink.attributes}} {{attribute}}="{{value}}"{{/backLink.attributes}}>
    {{#backLink.html}}{{{.}}}{{/backLink.html}}{{^backLink.html}}{{backLink.text}}{{/backLink.html}}
    </button>
{{/backLink.isButton}}
{{^backLink.isButton}}
    <a href="{{ backLink.href }}{{^backLink.href}}#{{/backLink.href}}"
       class="govuk-back-link {{ backLink.classes }}"
        {{#backLink.attributes}} {{attribute}}="{{value}}"{{/backLink.attributes}}>
    {{#backLink.html}}{{{.}}}{{/backLink.html}}{{^backLink.html}}{{backLink.text}}{{/backLink.html}}
    </a>
{{/backLink.isButton}}
