
<p {{#errorMessage.id }}id="{{ . }}"{{/errorMessage.id}} class="govuk-error-message {{errorMessage.classes }}" {{#errorMessage.attributes }} {{ attribute }}="{{ value }}"{{/errorMessage.attributes}}>
{{#errorMessage.visuallyHiddenText}}<span class="govuk-visually-hidden">{{.}}:</span>{{/errorMessage.visuallyHiddenText}}
    {{{ errorMessage.html }}}
    {{ errorMessage.text }}
</p>
