<div class="govuk-error-summary
  {{ errorSummary.classes }}"
     {{#errorSummary.hasDisableAutoFocus}}data-disable-auto-focus="{{errorSummary.disableAutoFocus}}"{{/errorSummary.hasDisableAutoFocus}}
     {{#errorSummary.attributes }} {{ attribute }}="{{ value }}" {{/errorSummary.attributes}} data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">
            {{{ errorSummary.titleHtml }}}
            {{ errorSummary.titleText }}
        </h2>
        <div class="govuk-error-summary__body">
            {{#errorSummary.descriptionHtml}}
                <p>{{{.}}}</p>
            {{/errorSummary.descriptionHtml}}
            {{#errorSummary.descriptionText}}
                <p>{{.}}</p>
            {{/errorSummary.descriptionText}}
            <ul class="govuk-list govuk-error-summary__list">
                {{#errorSummary.errorList }}
                <li>
                    {{#item.href}}
                    <a href="{{ item.href }}" {{#item.attributes}} {{attribute}}="{{value}}"{{/item.attributes}}>{{{ item.html }}} {{item.text }}</a>
                    {{/item.href}}
                    {{^item.href}}
                    {{{ item.html }}}
                    {{item.text }}
                    {{/item.href}}
                </li>
                {{/errorSummary.errorList}}
            </ul>
        </div>
    </div>
</div>
