<footer class="govuk-footer {{ footer.classes }}" role="contentinfo"
        {{# footer.attributes }} {{attribute}}="{{value}}" {{/ footer.attributes }}>
    <div class="govuk-width-container {{ footer.containerClasses }}">
        {{# footer.navigation.nonEmpty }}
        <div class="govuk-footer__navigation">
            {{# footer.navigation }}
            <div class="govuk-footer__section govuk-grid-column-{{#nav.width}}{{.}}{{/nav.width}}{{^nav.width}}full{{/nav.width}}">
                <h2 class="govuk-footer__heading govuk-heading-m">{{ nav.title }}</h2>
                {{#nav.items.nonEmpty}}
                    <ul class="govuk-footer__list {{#nav.columns }}govuk-footer__list--columns-{{nav.columns}}{{/nav.columns}}">
                    {{#nav.items}}
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="{{ href }}"{{#attributes }} {{attribute}}="{{value}}"{{/attributes}}>
                            {{ text }}
                        </a>
                    </li>
                    {{/nav.items}}
                </ul>
                {{/nav.items.nonEmpty}}
            </div>
            {{/ footer.navigation }}
        </div>
        <hr class="govuk-footer__section-break">
        {{/footer.navigation.nonEmpty}}
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                {{# footer.meta }}
                <h2 class="govuk-visually-hidden">{{footer.meta.visuallyHiddenTitle}}{{^footer.meta.visuallyHiddenTitle}}Support links{{/footer.meta.visuallyHiddenTitle}}</h2>
                {{#footer.meta.items.nonEmpty}}
                <ul class="govuk-footer__inline-list">
                    {{#footer.meta.items}}
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="{{ href }}"{{# attributes }} {{attribute}}="{{value}}" {{/ attributes }} >
                            {{ text }}
                        </a>
                    </li>
                    {{/footer.meta.items}}
                </ul>
                {{/footer.meta.items.nonEmpty}}
                {{#footer.meta.htmlOrText}}
                    <div class="govuk-footer__meta-custom">
                        {{{ footer.meta.html }}}
                        {{ footer.meta.text }}
                    </div>
                {{/footer.meta.htmlOrText}}
                {{/ footer.meta }}
                {{! The SVG needs `focusable="false"` so that Internet Explorer does not
                treat it as an interactive element - without this it will be
                'focusable' when using the keyboard to navigate. }}
                <svg
                        aria-hidden="true"
                        focusable="false"
                        class="govuk-footer__licence-logo"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 483.2 195.7"
                        height="17"
                        width="41"
                >
                    <path
                            fill="currentColor"
                            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
                    />
                </svg>
                <span class="govuk-footer__licence-description">
                    {{#footer.contentLicence.html}}{{{.}}}{{/footer.contentLicence.html}}
                    {{^footer.contentLicence.html}}
                        {{#footer.contentLicence.text}}{{.}}{{/footer.contentLicence.text}}
                        {{^footer.contentLicence.text}}
                            All content is available under the
                            <a
                                    class="govuk-footer__link"
                                    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                                    rel="license"
                            >Open Government Licence v3.0</a>, except where otherwise stated
                        {{/footer.contentLicence.text}}
                    {{/footer.contentLicence.html}}
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a
                        class="govuk-footer__link govuk-footer__copyright-logo"
                        href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
                >
                    {{#footer.copyright.html}}{{{.}}}{{/footer.copyright.html}}
                    {{^footer.copyright.html}}
                        {{#footer.copyright.text}}{{.}}{{/footer.copyright.text}}
                        {{^footer.copyright.text}}© Crown copyright{{/footer.copyright.text}}
                    {{/footer.copyright.html}}
                </a>
            </div>
        </div>
    </div>
</footer>
