<a href="{{ govukSkipLink.href }}{{^govukSkipLink.href}}#content{{/govukSkipLink.href}}" class="govuk-skip-link {{ govukSkipLink.classes }}" {{# govukSkipLink.attributes }} {{ attribute }}="{{ value }}"{{/govukSkipLink.attributes}} data-module="govuk-skip-link">
    {{{ govukSkipLink.html }}}
    {{ govukSkipLink.text }}
</a>
