<div {{#hint.id}}id="{{.}}"{{/hint.id}} class="govuk-hint {{hint.classes }}"
      {{#hint.attributes }} {{attribute}}="{{value}}" {{/hint.attributes}}>
    {{{ hint.html }}}
    {{ hint.text }}
</div>
