{{# button.name }} name="{{ button.name }}" {{/button.name}}
{{# button.disabled }} disabled="disabled" aria-disabled="true" {{/button.disabled}}
{{# button.preventDoubleClickIsDefined }} data-prevent-double-click="{{button.preventDoubleClick}}" {{/ button.preventDoubleClickIsDefined }}
