
{{! All other template logic pulled out into local mustache includes }}

{{#button.isLink}}
<a href="{{ button.href }}{{^button.href}}#{{/button.href}}" role="button" draggable="false" {{> commonAttributes }}>
    {{#button.html}}{{{.}}}{{/button.html}}{{^button.html}}{{button.text}}{{/button.html}}
    {{> iconHtml }}
</a>
{{/button.isLink}}

{{#button.isButton}}
<button {{# button.value }} value="{{ button.value }}"{{/button.value}} {{# button.type }} type="{{ button.type }}"{{/button.type}} {{> buttonAttributes }}  {{> commonAttributes  }}>
    {{#button.html}}{{{.}}}{{/button.html}}{{^button.html}}{{button.text}}{{/button.html}}
    {{> iconHtml }}
</button>
{{/button.isButton}}

{{#button.isInput}}
<input value="{{ button.text }}" type="{{ button.type }}{{^button.type}}submit{{/button.type}}" {{> buttonAttributes }} {{> commonAttributes }}>
{{/button.isInput}}
