
<div class="govuk-character-count {{characterCount.classes}}" data-module="govuk-character-count"
     {{#characterCount.maxlength }} data-maxlength="{{ characterCount.maxlength }}" {{/characterCount.maxlength}}
     {{#characterCount.threshold }} data-threshold="{{ characterCount.threshold }}" {{/characterCount.threshold}}
     {{#characterCount.maxwords }} data-maxwords="{{ characterCount.maxwords }}" {{/characterCount.maxwords}}
     {{#hasNoLimit}}
         {{#characterCount.info.hint.html}} data-i18n.textarea-description.other="{{{.}}}" {{/characterCount.info.hint.html}}
         {{#characterCount.info.hint.text}} data-i18n.textarea-description.other="{{.}}" {{/characterCount.info.hint.text}}
     {{/hasNoLimit}}
     {{#characterCount.charactersUnderLimitText}}{{{.}}}{{/characterCount.charactersUnderLimitText}}
     {{#characterCount.charactersAtLimitText}} data-i18n.characters-at-limit="{{{.}}}" {{/characterCount.charactersAtLimitText}}
     {{#characterCount.charactersOverLimitText}}{{{.}}}{{/characterCount.charactersOverLimitText}}
     {{#characterCount.wordsUnderLimitText }}{{{.}}}{{/characterCount.wordsUnderLimitText}}
     {{#characterCount.wordsAtLimitText }} data-i18n.words-at-limit="{{{.}}}" {{/characterCount.wordsAtLimitText}}
     {{#characterCount.wordsOverLimitText }}{{{.}}}{{/ characterCount.wordsOverLimitText}}
     {{#characterCount.attributes}} {{attribute}}="{{value}}" {{/characterCount.attributes}}
>

    {{{characterCount.textArea}}}

    {{{characterCount.hint}}}

</div>
