{{! Not part of GOV.UK's suite of Nunjucks templates }}

<a href="{{link.href}}" class="govuk-link {{link.classes}}"
    {{#link.attributes }} {{attribute}}="{{value}}"{{/link.attributes}}
>
    {{{link.html}}}
    {{link.text}}
</a>