{{# cell.colspan }} colspan="{{ cell.colspan }}"{{/ cell.colspan }}
{{# cell.rowspan }} rowspan="{{ cell.rowspan }}"{{/ cell.rowspan }}{{# cell.attributes }} {{attribute}}="{{value}}"{{/cell.attributes}}
