<table class="govuk-table
  {{ table.classes }}"{{# table.attributes }} {{attribute}}="{{value}}"{{/table.attributes}}>
    {{# table.caption }}
    <caption class="govuk-table__caption
        {{ table.captionClasses }}">{{ table.caption }}</caption>
    {{/ table.caption }}
    {{# table.hasHead }}
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        {{# table.head }}
        <th scope="col" class="govuk-table__header
      {{# item.format }} govuk-table__header--{{ item.format }}{{/ item.format }}
      {{# item.classes }} {{ item.classes }}{{/ item.classes }}"
            {{# item.colspan }} colspan="{{ item.colspan }}"{{/ item.colspan }}
            {{# item.rowspan }} rowspan="{{ item.rowspan }}"{{/ item.rowspan }}{{# item.attributes }} {{attribute}}="{{value}}"{{/item.attributes}}>{{{ item.html }}} {{ item.text }}</th>
        {{/ table.head }}
    </tr>
    </thead>
    {{/ table.hasHead }}
    <tbody class="govuk-table__body">
    {{# table.rows }}

    <tr class="govuk-table__row">
        {{# row.cells }}




        {{# cell.isHeader }}
        <th scope="row" class="govuk-table__header{{# cell.classes }} {{ cell.classes }}{{/ cell.classes}}"
            {{> commonAttributes }}
        >{{{ cell.html }}} {{ cell.text }}</th>
        {{/ cell.isHeader }} {{^ cell.isHeader }}
        <td class="govuk-table__cell
            {{# cell.format }} govuk-table__cell--{{ cell.format }}{{/ cell.format}}
            {{ cell.classes }}"
            {{> commonAttributes }}
        >{{{ cell.html }}} {{ cell.text }}</td>
        {{/cell.isHeader}}
        {{/row.cells}}
    </tr>

    {{/ table.rows }}
    </tbody>
</table>
