
<div class="govuk-form-group {{#textArea.errorMessage }} govuk-form-group--error {{/textArea.errorMessage}} {{ textArea.formGroup.classes }}"
     {{#textArea.formGroup.attributes}} {{attribute}}="{{value}}"{{/textArea.formGroup.attributes}} {{! Not in the original template but needed so we can set the id to drive runtime widget visibility. TODO: Raise a pull request to add this to GOV.UK's nunjucks}}
>

    {{{ textArea.govukLabel }}}

    {{{ textArea.hint }}}

    {{{ textArea.errorMessage }}}

    <textarea class="govuk-textarea {{#textArea.errorMessage}} govuk-textarea--error {{/textArea.errorMessage}} {{ textArea.classes}}" id="{{ textArea.id }}" name="{{ textArea.name }}" rows="{{textArea.rows}}{{^textArea.rows}}5{{/textArea.rows}}"
              {{#textArea.spellcheck}} spellcheck="{{.}}" {{/textArea.spellcheck}}
              {{#textArea.describedBy}} aria-describedby="{{ . }}"{{/textArea.describedBy}}
              {{#textArea.autocomplete}} autocomplete="{{ . }}"{{/textArea.autocomplete}}
              {{#textArea.attributes }} {{attribute}}="{{value}}"{{/textArea.attributes}}>{{ textArea.value }}</textarea>
</div>
