{{! Not part of GOV.UK's suite of Nunjucks templates }}

<pre {{#pre.attributes}} {{attribute}}="{{value}}"{{/pre.attributes}} class="{{pre.classes}}">{{#pre.isCode}}<code>{{/pre.isCode}}{{{pre.html}}}{{pre.text}}{{#pre.isCode}}</code>{{/pre.isCode}}</pre>