
{{#label.isPageHeading }}
<h1 class="govuk-label-wrapper">
    <label class="govuk-label {{ label.classes }}"
        {{#label.attributes }} {{attribute}}="{{value}}"{{/label.attributes}}
        {{#label.for}} for="{{ . }}"{{/label.for}}>
        {{{ label.html }}}
        {{ label.text }}
    </label>
</h1>
{{/label.isPageHeading}}

{{^label.isPageHeading}}
    <label class="govuk-label {{ label.classes }}"
            {{#label.attributes }} {{attribute}}="{{value}}"{{/label.attributes}}
            {{#label.for}} for="{{ . }}"{{/label.for}}>
        {{{ label.html }}}
        {{ label.text }}
    </label>
{{/label.isPageHeading}}

