<div {{#insetText.id}}id="{{ . }}"{{/insetText.id}} class="govuk-inset-text {{insetText.classes }}"
     {{#insetText.attributes }} {{attribute}}="{{value}}"{{/insetText.attributes}}>
    {{{ insetText.html }}}
    {{ insetText.text }}
</div>
