{{{dateInput.hint}}}

{{{dateInput.errorMessage}}}

<div class="govuk-date-input {{dateInput.classes }}"
    {{# dateInput.attributes }} {{attribute}}="{{value}}" {{/dateInput.attributes}}
    {{# dateInput.id }} id="{{ dateInput.id }}"{{/dateInput.id}}>

    {{# dateInput.items }}
        <div class="govuk-date-input__item">
            {{{.}}}
        </div>
    {{/dateInput.items}}

</div>