

<div class="govuk-form-group {{#dateInput.errorMessage }} govuk-form-group--error {{/dateInput.errorMessage}} {{ dateInput.formGroup.classes }}"
    {{#dateInput.formGroup.attributes}} {{attribute}}="{{value}}" {{/dateInput.formGroup.attributes}} {{! Not in the original template but needed so we can set the id to drive runtime widget visibility. TODO: Raise a pull request to add this to GOV.UK's nunjucks}}
>
    {{#dateInput.fieldset}}
        <fieldset class="govuk-fieldset {{dateInput.fieldset.classes}}" role="group" {{#dateInput.fieldset.attributes}} {{attribute}}="{{value}}" {{/dateInput.fieldset.attributes}}
        {{# dateInput.fieldset.describedBy }} aria-describedby="{{ dateInput.fieldset.describedBy }}" {{/dateInput.fieldset.describedBy}}
        >
            {{# dateInput.fieldset.hasLegend }}
                <legend class="govuk-fieldset__legend {{ dateInput.legend.classes }}">
                    {{# dateInput.legend.isPageHeading }}
                        <h1 class="govuk-fieldset__heading">
                            {{{ dateInput.legend.html }}}
                            {{ dateInput.legend.text }}
                        </h1>
                    {{/dateInput.legend.isPageHeading}}
                    {{^dateInput.legend.isPageHeading}}
                        {{{ dateInput.legend.html }}}
                        {{ dateInput.legend.text }}
                    {{/dateInput.legend.isPageHeading}}
                </legend>
            {{/dateInput.fieldset.hasLegend}}
            {{>items}}
        </fieldset>
    {{/dateInput.fieldset}}
    {{^dateInput.fieldset}}
        {{>items}}
    {{/dateInput.fieldset}}
    
</div>
