<fieldset class="govuk-fieldset {{fieldset.classes }}"
    {{#fieldset.role}} role="{{ . }}" {{/fieldset.role}}
    {{#fieldset.describedBy}} aria-describedby="{{ . }}" {{/fieldset.describedBy}}
    {{#fieldset.attributes }} {{attribute}}="{{value}}" {{/fieldset.attributes}}>
    <legend class="govuk-fieldset__legend {{fieldset.legend.classes }}">
        {{#fieldset.legend.isPageHeading}}
            <h1 class="govuk-fieldset__heading">
                {{{fieldset.legend.html}}}
                {{fieldset.legend.text}}
            </h1>
        {{/fieldset.legend.isPageHeading}}
        {{^fieldset.legend.isPageHeading}}
            {{{fieldset.legend.html}}}
            {{fieldset.legend.text}}
        {{/fieldset.legend.isPageHeading}}
    </legend>
    {{{fieldset.widgets}}}
</fieldset>
