{{! Not part of GOV.UK's suite of Nunjucks templates }}
<div {{#heading.attributes}} {{attribute}}="{{value}}" {{/heading.attributes}} class="{{heading.classes}}">

    {{#heading.xl}}
        {{#heading.caption}}
            <span class="govuk-caption-xl">{{.}}</span>
        {{/heading.caption}}
        {{#heading.heading}}
            <h1 class="govuk-heading-xl">{{.}}</h1>
        {{/heading.heading}}
    {{/heading.xl}}

    {{#heading.l}}
        {{#heading.caption}}
            <span class="govuk-caption-l">{{.}}</span>
        {{/heading.caption}}
        {{#heading.heading}}
            <h2 class="govuk-heading-l">{{.}}</h2>
        {{/heading.heading}}
    {{/heading.l}}

    {{#heading.m}}
        {{#heading.caption}}
            <span class="govuk-caption-m">{{.}}</span>
        {{/heading.caption}}
        {{#heading.heading}}
            <h3 class="govuk-heading-m">{{.}}</h3>
        {{/heading.heading}}
    {{/heading.m}}

    {{#heading.s}}
        <h4 class="govuk-heading-s">{{heading.heading}}</h4>
    {{/heading.s}}

</div>