<details {{#details.id}}id="{{ . }}"{{/details.id}}
     class="govuk-details {{details.classes }}"
     data-module="govuk-details"
    {{#details.attributes }} {{attribute}}="{{value}}"{{/details.attributes}}
    {{#details.open}}open{{/details.open}}>
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            {{{ details.summaryHtml }}}
            {{ details.summaryText }}
        </span>
    </summary>
    <div class="govuk-details__text">
        {{{ details.html }}}
        {{ details.text }}
    </div>
</details>
