<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetUrl }}/assets/images/favicon.ico" type="image/x-icon">
<link rel="mask-icon" href="{{ assetUrl }}/assets/images/govuk-mask-icon.svg" color="{{ themeColor }}{{^themeColor}}#0b0c0c{{/themeColor}}"> {{! Hardcoded value of $govuk-black #}}
<link rel="apple-touch-icon" sizes="180x180" href="{{ assetUrl }}/assets/images/govuk-apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="167x167" href="{{ assetUrl }}/assets/images/govuk-apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ assetUrl }}/assets/images/govuk-apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" href="{{ assetUrl }}/assets/images/govuk-apple-touch-icon.png">
