<div class="govuk-width-container {{ containerClasses }}">

    <form method="post" class="{{formClasses}}" enctype="{{enctype}}{{^enctype}}multipart/form-data{{/enctype}}">
        {{#main.defaultButton}}<button class="hidden" aria-hidden="true" type="submit"></button>{{/main.defaultButton}} {{! Not part of GOV.UK's templates - an optional button that is first in the form so hitting <return> will submit the form with its default action (usually to continue the journey) }}

        {{{ beforeContent }}}

        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{{# mainLang }} lang="{{ mainLang }}" {{/mainLang}}>
            {{{ content }}}
        </main>
    </form>

</div>
