<!DOCTYPE html>
<html lang="{{htmlLang}}{{^htmlLang}}en{{/htmlLang}}" class="govuk-template {{htmlClasses}}">
    <head>
        <meta charset="utf-8">
        <title {{#pageTitleLang}}lang="{{.}}"{{/pageTitleLang}}>{{{pageTitle}}}{{^pageTitle}}GOV.UK - The best place to find government services and information{{/pageTitle}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="{{themeColor}}{{^themeColor}}#0b0c0c{{/themeColor}}"> {{! Hardcoded value of $govuk-black }}
        {{! Ensure that older IE versions always render with the correct rendering engine }}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{> headIcons }}

        {{> head}}

        {{! not included in the original template }}
        <link rel="stylesheet" href="{{assetUrl}}/css/main.css">

        {{! The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback }}
        {{! image url needs to be absolute e.g. http://wwww.domain.com/.../govuk-opengraph-image.png }}
        <meta property="og:image" content="{{ assetUrl }}/assets/images/govuk-opengraph-image.png">
    </head>
    <body class="govuk-template__body {{ bodyClasses }}" {{# bodyAttributes }} {{attribute}}="{{value}}" {{/bodyAttributes}}>
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        {{> bodyStart }}

        {{> skip-link/template }}

        {{> header/template }}

        {{! not included in the original template }}
        {{#phaseBanner.text}}{{> phase-banner/template }}{{/phaseBanner.text}}
        {{#phaseBanner.html}}{{> phase-banner/template }}{{/phaseBanner.html}}

        {{> main }}

        {{> footer/template }}

        {{> bodyEnd }}
    </body>
</html>
