{{! Not part of GOV.UK's suite of Nunjucks templates }}

<p {{#paragraph.attributes}} {{attribute}}="{{value}}"{{/paragraph.attributes}} class="{{paragraph.classes}}">
    {{{paragraph.html}}}
    {{paragraph.text}}
</p>