<div class="govuk-form-group {{#select.errorMessage }} govuk-form-group--error {{/select.errorMessage}} {{#select.formGroup.classes}} {{select.formGroup.classes}} {{/select.formGroup.classes}}"{{#select.formGroup.attributes }} {{ attribute }}="{{ value }}" {{/select.formGroup.attributes}}>

    {{{ select.govukLabel }}}
    {{{ select.hint }}}
    {{{ select.errorMessage }}}

    <select class="govuk-select
                    {{#select.classes}} {{ select.classes }}{{/select.classes}} {{#select.errorMessage}} govuk-select--error {{/select.errorMessage}}" id="{{ select.id }}" name="{{ select.name }}"{{#select.describedBy }}aria-describedby="{{select.describedBy}}"{{/select.describedBy}}{{#select.attributes }} {{ attribute }}="{{ value }}"{{/select.attributes}}>
        {{#select.items }}
            <option value="{{ value }}"
                {{#selected}} selected {{/selected}}
                {{#disabled}} disabled {{/disabled }}
                {{#attributes }} {{ attribute }}="{{ value }}"{{/attributes}}>{{ text }}</option>
        {{/select.items }}
    </select>
</div>
